.dark-mauve-bg{
    background-color: var(--dark-mauve-color);
    background-size: cover;
    background-position: center center;
}

.white-bg{
    background-color: var(--white-color);
    background-size: cover;
    background-position: center center;
}

.multicolor-bg{
    color: #997b66;
    animation: RoueColor 10s infinite;
    border-color: currentColor;
    background-size: cover;
    background-position: center center;
} 

  @keyframes RoueColor {
    from, to { color: #797d62; }
    10%      { color: #9b9b7a; }
    20%      { color: #baa587; }
    30%      { color: #d9ae94; }
    40%      { color: #f1dca7; }
    50%      { color: #ffcb69; }
    60%      { color: #e8ac65; }
    70%      { color: #d08c60; }
    80%      { color: #b58463; }
    90%      { color: #997b66; }
  }


.main-content{
    margin: 0 auto;
    padding: var(--gap);
}

