.presentation-content{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.head-presentation{
    margin: 3rem 3rem;
    padding-top: 1rem;
    color: var(--yellow-color);
}

.presentation img{
    width: 4rem;
    height: 4rem;
}

.presentation h3{
    font-size: 4rem;
    color: var(--red-color);
    position: relative;
    padding-bottom: 1rem;
}

.presentation img:hover{
    transform: rotate(15deg); 
}

.presentation ul{
    column-count: 3;
    column-gap: 15em;
    list-style: none;
    font-size: 2rem;

}

.presentation ul li{
   
 color: var(--black-color);
}

.presentation-title {
    color: var(--dark-brown-color);
}

