:root{
    --red-color: #CF3636; 
    --light-beige-color:#d8bd8a;
    --dark-mauve-color:#753742;
    --brown-color:#aa5042;
    --dark-brown-color: #4f3130;
    --black-color: black;
    --white-color: white;
    --yellow-color: #d8d78f;
    --gap: 3rem;
}