.intro-content{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
    position: relative;
}

.text-intro{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}


.img-intro img{
    max-width: 100%;
    height: auto;
    left:800px;
    top: 150px;
    position:absolute;
    margin-bottom: 2rem;
}

#main-sentence{
   color:  var(--light-beige-color);
}

.text-animate { 
    visibility:hidden;
    color:var(--light-beige-color); 
}

.strong-intro {
    color: var(--white-color);
}