
* {
   
    font-family: Playfair Display;
  }

  @media (prefers-color-scheme: dark) {
    body {
    color: #fefefe;
    background: rgb(59, 58, 58) no-repeat;
    }
    a {
    color: #282829;
    }
    img {
    filter: grayscale(70%);
    }
  }

/* Bouton pour revenir en haut de page  */

  a#button-return-main{
    color:#fff;
    background:rgba(0, 0, 0, 0.25);
    padding:10px;
    right:20px;
    border-radius:3px;
    text-decoration: none;
    position:fixed;
    font-size:15px;
    text-align:center;
    opacity:1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index:99999;
    transition:all ease-in 0.2s;
   
  }
  a#button-return-main:before{ content: "\25b2"; }
  a#button-return-main:hover{
    background:rgba(0, 0, 0, 1);
    transition:all ease-in 0.2s;
  }
  a#button-return-main.button-return-invisible{
    opacity:0;
    bottom:-35px;
    transition:all ease-in 0.5s;
  }
  
  a#button-return-main.button-return-visible{
    opacity:1;
    bottom:20px;
  }

/* . */

/* -- Menu -- */
  nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
  }

  nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
  }

  nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  li a {
    text-decoration: none;
    color: black;
  }
  
  .menu-main > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
  }

  .menu-second {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
  }
  
  .menu-second > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
  }

  nav > ul > li:hover > a{
    color: #6A1010;
  }
  .menu-second > li:hover {
    background-color: #6A1010;
  }
  
  @keyframes rotation-arrow {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  
  .menu-main:hover > a:after{
    animation: rotation-arrow 0.2s linear forwards;
  }

  @keyframes apparation-second-menu {
    0% {
      box-shadow: 0px 3px 3px 1px black;
      border-top: 3px solid #6A1010;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #6A1010;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }

  .menu-main:hover > .menu-second {
    animation: apparation-second-menu 1s forwards;
  }

/* . */

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #282829;
    color: white;
    text-align: center;
 }